@import "tailwindcss";

body {
    margin: 0;
    /*background-color: black;*/
    background-size: cover;
    background-image: url('/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
}